//fonts//

$title-font: "Finger Paint";
$text-font: "Muli";

//colors//
$title-color: #000;
$text-color: #fff;

$web-color: red;
$post-color: blue;
$anim-color: green;
$fair-color: yellow;
$admin-color: purple;
$collab-color: gray;

//Sizes//
$title-mob-size: 32;
$title-desk-size: 60;