//fonts//

$title-font: "Finger Paint";
$text-font: "Muli";

//colors//
$title-color: #f2f2f2;
$text-color: #f2f2f2;
$text-color-light: #fff;

$web-color: red;
$post-prod-color: blue;
$anim-color: green;
$fair-color: yellow;
$admin-color: purple;
$collab-color: gray;

$header-title-border: #c4c4c4;

//Sizes//
$title-mob-size: 24;
$title-desk-size: 60;