//fonts//

$title-font: Helvetica;
$text-font: Arial;

//colors//
$title-color: #000;
$text-color: #fff;

$web-color: red;
$post-color: blue;
$anim-color: green;
$fair-color: yellow;
$admin-color: purple;
$collab-color: gray;