.brief {
    background: url(http://lorempixel.com/1920/400);
    background-size: cover;
    display: block;
    overflow: hidden;

    p {
        color: $text-color;
        display: block;
        @include font-size(32);
        margin: 55px auto;
        text-align: center;
        text-transform: uppercase;
        width: 80%;
    }
}