.main-header {
    background-image: url("../img/header-banner.jpg");
    overflow: hidden;
    padding: 150px 0 100px;
    text-align: center;

    h1 {
        border-top: 5px solid $header-title-border;
        border-bottom: 5px solid $header-title-border;
        color: $title-color;
        font-family: $title-font;
        margin: 20px auto;
        padding: 20px 0;
        width: 85%;
        @include font-size($title-mob-size);
    }
}

.brief {
    @include font-size(18);
    background-color: rgba(255,255,255,.3);
    box-sizing: border-box;
    color: $text-color;
    font-family: $text-font;
    margin: 0 auto;
    padding: 20px;
    width: 85%;
}