.main-header{
	background-color: #f2f2f2;
    overflow: hidden;
    padding: 100px 0;
    text-align: center;

	h1{
		border-top: 5px solid #c4c4c4;
		border-bottom: 5px solid #c4c4c4;
		font-family: $title-font;
		@include font-size($title-mob-size);
		margin: 0 auto;
		padding: 3% 0;
		width: 80%;
	}
}