.show-menu {
	@include font-size(14);
	background: none;
	border: 1px solid $text-color;
	color: $text-color;
	font-family: $text-font;
	margin: 20px 0;
	padding: 10px 20px;

	@media screen and (min-width: 1000px){
		display: none;
	}
}

.header-nav {
	background-color: $nav-back-color;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

	/* @media screen and (min-width: 1000px){
		height: 100px;
	}*/
} 

.header-nav-content {
	background-color: darken($nav-back-color, 10%);
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    transition: height .5s linear;
    width: 100%;

    @media screen and (min-width: 1000px){
		float: left;
		height: 100px;
    }
}

.expanded{
	height: 260px
}

.header-nav-item {
	border-bottom: 1px solid #f2f2f2;
	padding: 10px 0;
	width: 100%;

	a {
		@include font-size(18);
		font-family: $text-font;
	}
}

.web-item {
	color: $web-color;
}

.post-item {
	color: $post-prod-color;
}

.anim-item {
	color: $anim-color;
}

.admin-item {
	color: $admin-color;
}

.collab-item {
	color: $collab-color;
}

.fair-item {
	color: $fair-color;
}