.team-section-wrapper {
    margin: 0;
    width: 100%;

    h2 {
        margin: 0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        @include font-size( 24 );
    }
}

.team-content {
    display: block;
    height: auto;
    width: 100%;
}

.team-details {
    background-color: $web-color;
    height: 30em;
    overflow: hidden;
    width: 100%;

    h2 {
        color: $text-color-light;
        font-family: $title-font;
        margin: 4% auto 0;
        // text-align: left;
        @include font-size( $title-mob-size );
    }

    p {
        color: $text-color-light;
        line-height: 1.6em;
        margin: 2% auto;
        padding: 0 0 10% 0;
        text-align: left;
        width: 60%;
        @include font-size( 16 );

    }
}

.team-member {
    img{
        width: 100%{}
    }
}


