.team-content {
    display: block;
    height: auto;
    width: 100%;
}

.team-details {
    background-color: #868686;
    height: auto;
    overflow: hidden;
    width: 100%;

    h2 {
        color: $web-color;
        font-family: $title-font;
        text-align: center;
    }
}

.team-section-wrapper {
    margin: 0;
    width: 100%;

    h2 {
        margin: 0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        @include font-size( 24 );
    }
}

