.team-section-wrapper {
    margin: 0;
    width: 100%;

    h2 {
        margin: 0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        @include font-size(24);
    }
}

.team-content {
    display: block;
    overflow: hidden;
    padding: 5% 0;
    width: 100%;
}

.team-details {
    overflow: hidden;
    width: 100%;

    h2 {
        color: $text-color-light;
        font-family: $title-font;
        margin: auto 5%;
        text-align: left;
        @include font-size($title-mob-size);
    }

    p {
        color: $text-color-light;
        line-height: 1.6em;
        margin: 5%;
        padding-bottom: 5%;
        width: 90%;
        @include font-size(18);

    }
}

.team-member {
    color: $text-color-light;
    // float: left; activar si se cambia width a 50%
    width: 100%;
    @include font-size(18);

    img{
        display: block;
        width: 100%;
    }
    
    .team-member-information {
        display: block;

        h3 {
            display: block;
            font-family: $title-font;
            padding: 0 5%;
            width: 80%;
            @include font-size($title-mob-size);
        }

        p {
            box-sizing: border;
            padding: 0 5%;
            width: 90%;
        }

        a {
            color: $link-color;
            font-family: $title-font;
            display: block;
            overflow: hidden;
            padding: 0 5% 8% ;
            width: 100%
        }
    }
}

.team-web-development {
    background-color: ($web-color);
}

.team-production {
    background-color: ($post-prod-color);
    color: $text-color-dark;
}

.team-animation {
    background-color: ($anim-color);
}

.team-administration {
    background-color: ($admin-color);
}

.team-collaborators {
    background-color: ($collab-color);
}

.team-fair-play {
    background-color: ($fair-color);
}



