.the-team{
	margin: 0;
	position: absolute;
	width: 100%;

	h2{
		@include font-size(24);
		margin: 0;
		padding: 20px 0;
		text-align: center;
		width: 100%;
	}
}

.team-nav{
	display: block;
	height: 248px;
	overflow: hidden;
	width: 100%;

	a{
		color: #343434;
		display: inline-block;
		@include font-size(18);
		margin: 0;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
		width: 100%;

		&:hover{
			background-color: #c4c4c4;
		}
	}
}

.team-details{
	background-color: #868686;
	height: 300px;
	overflow: hidden;
}